body{margin: 0;padding: 5px;}
.paper{
  width: 800px;
  margin: 0 auto;
}

button,input{
  border: none;
  padding: 8px;
	line-height: 1;
}
.btn{background: #fc0;border-radius: 3px;font-size: 15px;padding-left: 15px;padding-right: 15px;color: #fff; }
.btn-green{
	background: rgb(21, 179, 34);border: 1px solid rgb(21, 179, 34);
}

input{
  border:1px solid #ccc;
  margin-bottom: 15px;
}
